{% extends "bases/base_event.html" %}
{% load static %}

{% block 'importacoes' %}
    <link href="{% static 'event/css/manage_event.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <br>
        <div class="row">
            <div class="col-md-2">
                <img width="100%" src="/media/{{event.logo}}">
                <br>
                <br>
                <h3>{{event.nome}}</h3>
                
            </div>

            <div class="col-md">
                <div class="row">
                    <div class="col-md-2">
                        <span class="badge rounded-pill text-bg-danger"><a class="link" href="{% url 'participants_event' event.id %}">Participantes</a></span>
                    </div>
                    <div class="col-md-2">
                        <span class="badge rounded-pill text-bg-danger"><a class="link" href=" {% url 'certificates_event' event.id %}">Certificados</a></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <h5>{{event.participants.all.count}} Participantes</h5>
            
            <div class="col-md-4">
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                    </tr>
                    {% for participant in participants %}
                        <tr class="{% cycle 'linha' 'linha2' %}">
                            <td>{{participant.username}}</td>
                            <td>{{participant.email}}</td>
                        </tr>
                    {% endfor %}       
                </table>
                <br>
                <div class="row">
                    <div class="col-md text-center">
                        <p>X de Z</p>
                    </div>

                    <div class="col-md ">
                        <a href="{% url 'create_csv' event.id %}" class="btn-principal" style="text-decoration: none;">Exportar CSV</a>
                    </div>
                </div>
            </div>
        
        </div>
        
        
    </div>

{% endblock %}